version: "3.8"

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: multisig_db
    ports:
      - "5432:5432"
    volumes:
      - solana_multisig_db_data:/var/lib/postgresql/data

volumes:
  solana_multisig_db_data:
